
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 247 24% 12%;
    --foreground: 0 0% 100%;

    --card: 247 24% 12%;
    --card-foreground: 213 28% 42%;

    --popover: 247 24% 12%;
    --popover-foreground: 213 28% 42%;

    --primary: 354 66% 55%;
    --primary-foreground: 0 0% 100%;

    --secondary: 213 28% 42%;
    --secondary-foreground: 0 0% 100%;

    --muted: 213 18% 56%;
    --muted-foreground: 213 18% 56%;

    --accent: 354 66% 55%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 96% 12%;
    --destructive-foreground: 354 66% 55%;

    --border: 213 28% 42%;
    --input: 213 28% 42%;
    --ring: 354 66% 55%;

    --radius: 0.5rem;

    --sidebar-background: 247 24% 12%;
    --sidebar-foreground: 213 28% 42%;
    --sidebar-primary: 354 66% 55%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 213 28% 42%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 213 28% 42%;
    --sidebar-ring: 354 66% 55%;
  }

  .dark {
    --background: 247 24% 12%;
    --foreground: 0 0% 100%;

    --card: 247 24% 12%;
    --card-foreground: 213 28% 42%;

    --popover: 247 24% 12%;
    --popover-foreground: 213 28% 42%;

    --primary: 354 66% 55%;
    --primary-foreground: 0 0% 100%;

    --secondary: 213 28% 42%;
    --secondary-foreground: 0 0% 100%;

    --muted: 213 18% 56%;
    --muted-foreground: 213 18% 56%;

    --accent: 354 66% 55%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 96% 12%;
    --destructive-foreground: 354 66% 55%;

    --border: 213 28% 42%;
    --input: 213 28% 42%;
    --ring: 354 66% 55%;

    --sidebar-background: 247 24% 12%;
    --sidebar-foreground: 213 28% 42%;
    --sidebar-primary: 354 66% 55%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 213 28% 42%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 213 28% 42%;
    --sidebar-ring: 354 66% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-lightship-2 text-lightship-4;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply text-lightship-4;
  }

  button {
    @apply hover:bg-lightship-3/20 text-lightship-4;
  }
}
